* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    background-size: cover;
    background-image: url("../images/portfoliobg.jpg");
    background-color: #cccccc;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    height: 200px;
    background-position: center;
}