* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    background-size: cover;
    background-image: url("../images/portfoliobg.jpg");
    background-color: #cccccc;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(196,196,196);
    background: linear-gradient(343deg, rgba(196,196,196,1) 0%, rgba(245,245,245,1) 18%, rgba(245,245,245,1) 72%, rgba(196,196,196,1) 100%);
    height: 100px;
    background-position: center;
}

.nav_button{
    background: rgb(91,91,91);
    background: linear-gradient(312deg, rgba(91,91,91,1) 0%, rgba(0,0,0,1) 25%, rgba(3,3,3,1) 65%, rgba(94,94,94,1) 100%);
    border-style: solid;
    border-radius: 30px;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    transition: 1.4s ease;
}

.nav_button:hover{
    color: black;
    border-color: #DFDFDF;
    background: rgb(196,196,196);
    background: linear-gradient(312deg, rgba(196,196,196,1) 0%, rgba(245,245,245,1) 25%, rgba(245,245,245,1) 65%, rgba(196,196,196,1) 100%);
    box-shadow: 0 0 25px black;
    transform: translateY(-5px);
}

.nav_button:active{
    transition: 0.4s ease;
    border-color: #DFDFDF;
    background-color: #DFDFDF;
    box-shadow: 0 0 25px black;
}

.logo{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: flex-end;
}

.navbar{
    padding: 0px 20px;
}

.main_div{
    padding-top: 100px;
}