{% load custom_filters %}
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</header>
<body>
    <header class="header">
        <nav class="navbar">
                <a href ="{% url 'home' %}" class="nav_button">HOME</a>
                <a href ="{% url 'about' %}" class="nav_button">ABOUT ME</a>
                <a href ="{% url 'portfolio' %}" class="nav_button">MY PORTFOLIO</a>
                <a href ="{% url 'contact' %}" class="nav_button">CONTACT ME</a>
                <a href ="{% url 'experience' %}" class="nav_button">MY EXPERIENCE</a>
        </nav>
        <img class="logo" src="https://gcdnb.pbrd.co/images/xymZD67y7xmx.png?o=1" alt="Image not displayed">

    </header>
    <div class="form_div">
        <form method="post" class="main_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name" class="form_label">Name:</label>
                {{ form.name|add_class:"custom-name-class" }}
            </div>
            <div class="form-group">
                <label for="id_email" class="form_label">Email:</label>
                {{ form.email|add_class:"custom-email-class" }}
            </div>
            <div class="form-group">
                <label for="id_message" class="form_label">Message:</label>
                {{ form.message|add_class:"custom-message-class" }}
            </div>
            <div class="form-actions">
                <button type="submit" class="submit_button">SEND</button>
            </div>
        </form>
    </div>
</body>
