<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <header class="header">
        <nav class="navbar">
                <a href ="{% url 'home' %}" class="nav_button">HOME</a>
                <a href ="{% url 'about' %}" class="nav_button">ABOUT ME</a>
                <a href ="{% url 'portfolio' %}" class="nav_button">MY PORTFOLIO</a>
                <a href ="{% url 'contact' %}" class="nav_button">CONTACT ME</a>
                <a href ="{% url 'experience' %}" class="nav_button">MY EXPERIENCE</a>
        </nav>
        <img class="logo" src="https://gcdnb.pbrd.co/images/xymZD67y7xmx.png?o=1" alt="Image not displayed">

    </header>
</body>
</html>
